@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Roboto";
    height: 700px;
}
#main {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.block {
    display: flex;
    width: 80%;
    height: 80px;
    background-color: white;    
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
    padding:20px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-left: 32px;
    align-items: center;
}
.logo {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.menu {
    display: flex;
    margin-left:30px;
    gap: 22px;
}
.icons {
    display: flex;
    gap: 37px;
    margin-right: 32px;
}
.icon {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
}
.title {
    text-align: center;
    top: 200px;
    font-size: 52px;
    z-index: 1;
    color: #FFFFFF;
}
.subtitle {
    text-align: center;
    font-size: 18px;
    z-index: 1;
    margin-top: 22px;
    color: #FFFFFF;
}
button {
    width: 200px;
    height: 50px;
    background-color: white;
    margin-top: 100px;
    border-radius: 5px;
    font-size: 16px;
}
.ellipse {
    display: flex;
    gap: 43px;
    align-items: center;
    margin:230px;
}